@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
	overflow: hidden;
} */

.button-with-arrow .arrow-icon {
	transition: opacity 0.3s;
}

.button-with-arrow:hover .arrow-icon {
	animation: echoRight 1.5s ease-out infinite;
}

@keyframes echoRight {
	  0% { opacity: 0; transform: translateX(0); }
	  5% { opacity: 1; transform: translateX(4px); }
	 25% { opacity: 1; transform: translateX(8px); }
	 50% { opacity: 0; transform: translateX(16px); }
	 75% { opacity: 0; transform: translateX(24px); }
	100% { opacity: 0; transform: translateX(32px); }
}

.chevron-icon {
	animation: echoDown 1.5s ease-out infinite;
}

@keyframes echoDown {
	 0% {opacity: 1; transform: translateY(0px) scale(1);}
	25% {opacity: 0; transform: translateY(10px) scale(0.9);}
	26% {opacity: 0; transform: translateY(-10px) scale(0.9);}
	55% {opacity: 1; transform: translateY(0px) scale(1);}
}

.pause {
	width: 12px;
	height: 16px;
	border-right: 4px solid #ffffff;
	border-left: 4px solid #ffffff;
}

@keyframes fadeOut {
	  0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeIn {
	  0% { opacity: 0; }
	100% { opacity: 1; }
}

.fade-out {
	animation: fadeOut 1s forwards;
}

.fade-in {
	animation: fadeIn 1s forwards;
}

.bordered-button {
	border: 2px solid #ffffff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	box-sizing: content-box;
}